<!DOCTYPE html>
<html
  lang="en"
  xmlns:sec="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <title>Code Fellows</title>
    <link th:include="fragments:: link" />
  </head>
  <body>
    <header th:replace="fragments :: header"></header>
    <main>
      <h1 class="text-center">There is no Post's to show right now.</h1>
    </main>
    <!-- <h1 sec:authorize="isAuthenticated()">You are authorized</h1>
<h1 sec:authorize="isAuthenticated()" sec:authentication="name"></h1>
<h1 sec:authorize="isAnonymous()">You are not logged in</h1> -->
    <footer th:replace="fragments :: footer"></footer>
    <script th:replace="fragments:: js"></script>
  </body>
</html>
